/** FONTSIZE **/
/** COLOR **/
/** COLOR **/
.color-list {
  color: #f13240;
  color: #FDFEFD;
  color: #f38390;
  color: #f8e8e3;
  color: #FDd0cf;
}
.color-list2 {
  color: #f0313b;
  color: #433e3f;
  color: #cf2e36;
  color: #a4a7aa;
  color: #d2cfd1;
  color: #f29ea5;
}
.color-list3 {
  color: #f9fafa;
  color: #dfdfe2;
  color: #f43d4c;
  color: #96989d;
  color: #4c5259;
  color: #b2bbc3;
  color: #d79f9a;
}
body,
html {
  width: 100%;
}
body .blog-list,
html .blog-list {
  position: fixed;
  width: 200px;
  left: 0;
}
body .blog-box,
html .blog-box {
  position: fixed;
  left: 200px;
  right: 0;
  background: #f9fafa;
}
.v-wrapper .add-blog-box {
  width: 60%;
  margin: 100px 20% 0;
}
.v-wrapper .add-blog-box input {
  border: none;
  outline: none;
  width: 100%;
  background: #f9fafa;
}
.v-wrapper .add-blog-box input:active {
  border: none;
}
.v-wrapper .add-blog-box .blog-title {
  font-size: 28px;
}
.v-wrapper .add-blog-box .blog-content {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
}
