/** FONTSIZE **/
/** COLOR **/
.color-list {
  color: #f13240;
  color: #FDFEFD;
  color: #f38390;
  color: #f8e8e3;
  color: #FDd0cf;
}
.color-list2 {
  color: #f0313b;
  color: #433e3f;
  color: #cf2e36;
  color: #a4a7aa;
  color: #d2cfd1;
  color: #f29ea5;
}
.color-list3 {
  color: #f9fafa;
  color: #dfdfe2;
  color: #f43d4c;
  color: #96989d;
  color: #4c5259;
  color: #b2bbc3;
  color: #d79f9a;
}
