<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/globel/index.css">
    <link rel="stylesheet" href="/css/views/index.css">

</head>
<body>
    <div class="v-wrapper">
        <!-- <div class="v-home-title">
            <span>Nark</span>
        </div> -->
        <div class="v-home-menu">
            <p class="menu-title">Nark</p>
            <ul class="v-home-menu-list">
                <li><a href="javascript:;">Introduction</a></li>
                <li><a href="/blog">Blogs</a></li>
                <li><a href="javascript:;">Collection</a></li>
                <li><a href="javascript:;">Games</a></li>
            </ul>
            <div class="v-home-menu-box">
                
            </div>
        </div>
    </div>
    
    
</body>
</html>