<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/globel/index.css">
    <link rel="stylesheet" href="/css/views/index.css">


    <!-- vue -->
    <script src="https://lib.baomitu.com/vue/2.5.17/vue.min.js"></script>
</head>
<body>
    <div class="j-vue-home">
        <div class="home-menu-box">
            <div class="menu-yard">
                <ul class="menu-list">
                    <li><a href="javascript:;">Intro</a></li>
                    <li><a href="/blog">Blogs</a></li>
                    <li><a href="javascript:;">Favor</a></li>
                    <li><a href="javascript:;">Others</a></li>
                </ul>
            </div>
        </div>
        <div class="home-yard" :class="{'bg-dark': scene == 2}">
            <div class="home-stage">
                <div class="section-1 main-text">
                    <!-- <main>Welcome Nark's Home!</main> -->
                </div>
                <div class="section-1 leaf-1">
                    <section>
                        <img src="/images/buildings.png" alt="">
                        <img src="/images/buildings.png" alt="">
                    </section>
                </div>
                <div class="section-1 walkman">
                    <!-- <section>
                        <div class="step-1"></div>
                    </section> -->
                </div>
            </div>
        </div>
    </div>
        <script>
            let HomeVue = new Vue ({
                el: '.j-vue-home',
                data: {
                    scroll_lock: false,
                    scene: 1,
                },
                mounted () {
                    let _this = this;
                    // 监听滚动
                    if(window.addEventListener)
                    window.addEventListener('DOMMouseScroll', _this.scrollHandler, false);
                    window.onmousewheel = document.onmousewheel = _this.scrollHandler;
                },
                methods: {
                    scrollHandler () {
                        var i = 0, _this = this;
                        if (!event) event = window.event;
                        if (event.wheelDelta) {
                            i = event.wheelDelta / 120;
                            if (window.opera) i = -i;
                        } else if (event.detail) {
                            i = -event.detail / 3;
                        }
                        if (!this.scroll_lock) {
                            if (i < -0.75) {
                                _this.scrollDown()
                                _this.scroll_lock = true
                                setTimeout(() => {
                                    _this.scroll_lock = false
                                }, 1000);
                            }
                            if (i > 0.75) {
                                _this.scrollUp()
                                _this.scroll_lock = true
                                setTimeout(() => {
                                    _this.scroll_lock = false
                                }, 1000);
                            }
                        }
                    },
                    scrollUp () {
                        console.log('shang')
                        this.scene = 1
                    },
                    scrollDown () {
                        console.log('down')
                        this.scene = 2
                    }
                }
            })
        </script>
</body>
</html>