@import 'var.less';

body,html{
    width: 100%;
    .blog-list{
        position: fixed;
        width: 200px;
        left: 0;
    }
    .blog-box{
        position: fixed;
        left: 200px;
        right: 0;
        background: #f9fafa;
    }
}

// add
.v-wrapper{
    .option-bar {
        width: calc(100%-52px);
        padding: 0 26px;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid @grey2;
        position: relative;
        .submit-btn{
            box-sizing: border-box;
            margin: 10px 8px;
            float: right;
        }
    }
    .add-blog-box{
        width: 60%;
        margin: 60px 20% 0;
        .blog-title{
            font-size: @font-size-7;
            height: 48px;
            line-height: 48px;
            margin-bottom: 18px;
        }
    }
}
