<script type="text/x-template" id="vue-text-editor">
    <div class="text-editor-box">
        <p contenteditable :placeholder="placeholder" :name="name" class="text-editor-block j-text-el">{{value}}</p>
    </div>
</script>

<script>
    Vue.component('text-editor', {
        template: '#vue-text-editor',
        props: {
            placeholder: {
                default: '请输入内容'
            },
            value: {
                default: ''
            },
            name: {
                default: ''
            }
        },
        data() {
            return {
            }
        },
        mounted () {
            var _this = this;
            var input_el = document.querySelector('.j-text-el');
            input_el.addEventListener('input', function (e) {
                _this.onInput(input_el, e)
            })
        },
        methods: {
            onInput (el) {
                // console.log(JSON.stringify(el.outerText))
                this.$emit('input', el.outerText)
            }
        },
    })
</script>

<link rel="stylesheet" href="/css/component/textEditor.css">