<script type="text/x-template" id="vue-text-editor">
    <div class="text-editor-box">
        <div class="tools-box">
            <button class="u-btn btn-small" @click="blod">加粗</button>
            <button class="u-btn btn-small">标题</button>
            <button class="u-btn btn-small">颜色</button>
            <button class="u-btn btn-small">图片</button>
            <button class="u-btn btn-small">代码</button>
            <button class="u-btn btn-small">字号</button>
        </div>
        <p contenteditable :placeholder="placeholder" :name="name" class="text-editor-block j-text-el" v-html="value"></p>
    </div>
</script>

<script>
    Vue.component('text-editor', {
        template: '#vue-text-editor',
        props: {
            placeholder: {
                default: '请输入内容'
            },
            value: {
                default: ''
            },
            name: {
                default: ''
            }
        },
        data() {
            return {
            }
        },
        mounted () {
            var _this = this;
            var input_el = document.querySelector('.j-text-el');
            input_el.addEventListener('input', function (e) {
                _this.onInput(input_el, e)
            })
            window.addEventListener('mouseup', function () {

            })
        },
        methods: {
            onInput (el) {
                // console.log(el.outerText)
                this.$emit('input', el.outerText)
            },
            handle (tagClass="strong") {
                if (!window.getSelection) return false;
                let selection = window.getSelection()
                let [selectionStart,selectionStartNode,selectionEnd,selectionEndNode] = [selection.anchorOffset,selection.anchorNode,selection.focusOffset,selection.focusNode]
                let [tagStart,tagEnd] = ['<span class="'+ tagClass +'">','</span>']
                    console.log(selection)
                if (selectionStartNode == selectionEndNode) {
                    if (selectionStartNode.parentElement.nodeType == 1) {
                        selectionStartNode.parentElement.innerHTML = selectionStartNode.parentElement.innerHTML.substring(0, selectionStart) + tagStart +
                            selectionStartNode.parentElement.innerHTML.substring(selectionStart, selectionEnd) + tagEnd +
                            selectionStartNode.parentElement.innerHTML.substring(selectionEnd)
                    }
                }


            },
            blod () {
                let _this = this;
                let selection;
                // if (window.getSelection) {
                //     selection = window.getSelection()
                // } else {
                //     return false;   // 不支持老浏览器
                // }

                // selectionStart = selection.anchorOffset
                // selectionStartNode = selection.anchorNode
                // selectionEnd = selection.focusOffset
                // selectionEndNode = selection.focusNode
                // console.log(selection)
                // console.log(selectionStartNode.nodeType)
                this.handle()
                // console.log(selectionStartNode.parentNode)
                // console.log(selectionEndNode.parentNode)
                // console.log(selectionStartNode.parentElement == selectionEndNode.parentElement)
                // console.log(selectionStartNode == selectionEndNode)
                // console.log(document.querySelector('.j-text-el').childNodes)
                // console.log(selectionStartNode.innerHTML)
                // if (selectionStartNode == selectionEndNode) {
                //     // if (selectionStartNode.nodeType == 3) {
                //     //     selectionStartNode.nodeValue = selectionStartNode.nodeValue.substring(0, selectionStart) + '<b>' +
                //     //                                     selectionStartNode.nodeValue.substring(selectionStart, selectionEnd) + '</b>' +
                //     //                                     selectionStartNode.nodeValue.substring(selectionEnd)
                //     // }
                //     if (selectionStartNode.parentElement.nodeType == 1) {
                //         console.log(selectionStartNode.parentElement.innerHTML)
                //         // selectionStartNode.parentElement.innerHTML = '<b>' + selectionStartNode.parentElement.innerHTML + '</b>'
                //         selectionStartNode.parentElement.innerHTML = selectionStartNode.parentElement.innerHTML.substring(0, selectionStart) + '<b>' +
                //             selectionStartNode.parentElement.innerHTML.substring(selectionStart, selectionEnd) + '</b>' +
                //             selectionStartNode.parentElement.innerHTML.substring(selectionEnd)
                //     }
                //     // console.log(document.querySelector('.j-text-el').outerText)
                //     // selectionStartNode.substring(0, selectionStart) + '<b>' + selectionStartNode
                // }
                // // _this.value = _this.value.substring(0, selectionStart)
                //     + '<b>' + _this.value.substring(selectionStart, selectionEnd)
                //     + '</b>' + _this.value.substring(selectionEnd);
            }
        },
    })
</script>

<link rel="stylesheet" href="/css/component/textEditor.css">