<script type="text/x-template" id="vue-text-editor">
    <div class="text-editor-box">
        <div class="tools-box">
            <button class="u-btn btn-small" @click="blod">加粗</button>
            <button class="u-btn btn-small">标题</button>
            <button class="u-btn btn-small">颜色</button>
            <button class="u-btn btn-small">图片</button>
            <button class="u-btn btn-small">代码</button>
            <button class="u-btn btn-small">字号</button>
        </div>
        <p contenteditable :placeholder="placeholder" :name="name" class="text-editor-block j-text-el" v-html="value"></p>
    </div>
</script>

<script>
    Vue.component('text-editor', {
        template: '#vue-text-editor',
        props: {
            placeholder: {
                default: '请输入内容'
            },
            value: {
                default: ''
            },
            name: {
                default: ''
            }
        },
        data() {
            return {
            }
        },
        mounted () {
            var _this = this;
            var input_el = document.querySelector('.j-text-el');
            input_el.addEventListener('input', function (e) {
                _this.onInput(input_el, e)
            })
            window.addEventListener('mouseup', function () {

            })
        },
        methods: {
            onInput (el) {
                // console.log(el.outerText)
                this.$emit('input', el.outerText)
            },
            handle (tagClass="strong") {
                if (!window.getSelection) return false;
                let selection = window.getSelection()
                let [selectionStart,selectionStartNode,selectionEnd,selectionEndNode] = [selection.anchorOffset,selection.anchorNode,selection.focusOffset,selection.focusNode]
                let [tagStart,tagEnd] = ['<span class="'+ tagClass +'">','</span>']
                    console.log(selection)
                if (selectionStartNode == selectionEndNode) {
                    if (selectionStartNode.parentElement.nodeType == 1) {
                        selectionStartNode.parentElement.innerHTML = selectionStartNode.parentElement.innerHTML.substring(0, selectionStart) + tagStart +
                            selectionStartNode.parentElement.innerHTML.substring(selectionStart, selectionEnd) + tagEnd +
                            selectionStartNode.parentElement.innerHTML.substring(selectionEnd)
                    }
                }

            },
            blod () {
                this.handle()
            }
        },
    })
</script>

<link rel="stylesheet" href="/css/component/textEditor.css">