/** FONTSIZE **/
/** COLOR **/
/** COLOR **/
.color-list {
  color: #f13240;
  color: #FDFEFD;
  color: #f38390;
  color: #f8e8e3;
  color: #FDd0cf;
}
.color-list2 {
  color: #f0313b;
  color: #433e3f;
  color: #cf2e36;
  color: #a4a7aa;
  color: #d2cfd1;
  color: #f29ea5;
}
.color-list3 {
  color: #f9fafa;
  color: #dfdfe2;
  color: #f43d4c;
  color: #96989d;
  color: #4c5259;
  color: #b2bbc3;
  color: #d79f9a;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: #FCFAE9;
}
body .v-home-menu,
html .v-home-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 35%;
  width: 400px;
  margin: auto;
  transition: all ease 1s;
}
body .v-home-menu .menu-title,
html .v-home-menu .menu-title {
  text-align: center;
  font-size: 28px;
  color: #96989d;
  padding-bottom: 8px;
}
body .v-home-menu .v-home-menu-list,
html .v-home-menu .v-home-menu-list {
  padding-top: 12px;
  border-top: 1px solid #b2bbc3;
}
body .v-home-menu .v-home-menu-list li,
html .v-home-menu .v-home-menu-list li {
  width: 100%;
  text-align: center;
}
body .v-home-menu .v-home-menu-list li a,
html .v-home-menu .v-home-menu-list li a {
  text-shadow: 0 1px 5px #4c5259;
  font-size: 20px;
  color: #F6E194;
  transition: all ease 0.25s;
  line-height: 32px;
}
body .v-home-menu .v-home-menu-list li a:hover,
html .v-home-menu .v-home-menu-list li a:hover {
  font-size: 24px;
}
