<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/globel/index.css">
    <link rel="stylesheet" href="/css/views/blog/index.css">

    <!-- vue -->
    <script src="https://lib.baomitu.com/vue/2.5.17/vue.min.js"></script>

</head>

<body>
    <div class="v-wrapper j-add-blog">
        <div class="option-bar">
            <div class="u-btn top-btn" @click="addBlog">发布</div>
        </div>
        <div class="v-wrapper-inner">
            <div class="add-blog-box">
                <textarea type="text" class="blog-title" placeholder="请输入标题" v-model="title" rows="1"></textarea>
                <!-- <text-editor :value="value" @input="editorChange"></text-editor> -->
                <div class="add-content-box">
                    <text-editor @input="editorChange"></text-editor>
                </div>
            </div>
        </div>
        
    </div>
    
    <%- include('../component/textEditor.html') %>

    <script>
        var add_blog = new Vue({
            el: '.j-add-blog',
            data: {
                title: '',
                content: '',
            },
            mounted () {
                var _this = this;
            },
            methods: {
                editorChange (value) {
                    this.content = value;
                },
                addBlog () {
                    var _this = this;
                    fetch('/blog/add', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            title: _this.title,
                            content: _this.content
                            // content: JSON.stringify(_this.content),
                        })
                    }).then(res => 
                        res.json()
                    ).then(data => {
                        console.log(data)
                    })
                }
            },
        })
    </script>
</body>

</html>