<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/globel/index.css">
    <link rel="stylesheet" href="/css/views/blog/index.css">

</head>

<body>
    <div class="v-wrapper">
        <div class="v-wrapper-inner j-blog-list">
            <div class="option-bar">
                <div class="u-btn submit-btn" @click="addBlog">搜索</div>
            </div>
        </div>
        <aside class="blog-list">
            <!-- <a href=""></a> -->
        </aside>
        <main class="blog-box">

        </main>
    </div>

    <script>
        let result = <%- JSON.stringify(result) %>
        console.log(result)
    </script>
</body>

</html>